#Main {
    text-align: center;
    background-color: gray;
    color: rgb(182, 182, 182);
    padding: 10px;
    box-sizing: border-box;
}

#Copy {
    text-align: left;
}

#Welcome {
    text-align: center;
}

#Cuber_1,
#Cuber_2,
#Cuber_2_Remake,
#Cuber_3,
#SurvivalCraft,
#Reactor_Resurgence {
    margin: 20px 0;
    padding: 15px;
    background-color: rgb(73, 73, 73);
}

button {
    display: block;
    margin-top: 10px;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    #Cuber_1,
    #Cuber_2,
    #Cuber_2_Remake,
    #Cuber_3,
    #SurvivalCraft,
    #Reactor_Resurgence {
        padding: 10px;
    }

    button {
        width: 100%;
    }
}
