#Main {
    text-align: center;
    background-color: gray;
    color: rgb(0, 0, 0);
}

#Copy {
    text-align: left;

    position: relative;

    top: 1px;
}

#Welcome {
    text-align: center;
}

#Cuber_2 {
    padding-top: 10px;
}

#Cuber_2_Remake {
    padding-top: 10px;
}

#C1B {
    position: relative;

    top: 20px;

    Right: 320px
}

#C2B {
    position: relative;

    top: 20px;

    Right: 320px
}

#C2RB {
    position: relative;

    top: 20px;

    Right: 350px
}
